<div style="margin: 0 auto; max-width: 740px; min-width: 154px;">
  <div style="background-color: #fff; border: 2px solid #dadce0; border-radius: 10px; padding: 24px;">
    <div>
      <h1 style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 25px; font-weight: 500; line-height: 28px; margin: 0 0 25px;">Hello [Element#Name],</h1>
    </div>
    <h2 style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0 0 10px;">Thank you for contacting (Business Name). Your form submission has been received and will be reviewed by a staff member as soon as possible.</h2>
    <p style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0 0 12px;">Powered by</p>
    <a title="Link to (Business Name)" href="(Business Site)" target="_blank"><img src="(Business Logo)" width="500" height="auto" alt="(Business Name) Logo"></a>
    <p style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 30px; margin: 0 0 15px;">[Record#AllData]</p>
  </div>
</div>