<div style="margin: 0 auto; max-width: 740px; min-width: 154px;">
  <div style="background-color: #fff; border: 2px solid #dadce0; border-radius: 10px; padding: 24px;">
    <div>
      <h1 style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 25px; font-weight: 500; line-height: 28px; margin: 0 0 25px;">Administrator,</h1>
    </div>
    <h2 style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0 0 10px;">There is a new form that needs to be viewed.</h2>
    <h2 style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0 0 20px;">A new appointment request form has been submitted by [UserName]. Below is the detailed information:</h2>
    <p style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0 0 12px;">[Content]</p>
    <br />
    <p style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0 0 12px;">Powered by</p>
    <p style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0 0 12px;"><a href="https://webmarketsmedical.com/" target="_blank"><img src="https://webmarketsmedical.com/Portals/0/ThemePluginPro/uploads/2022/12/31/WM%20Med%20-%20WHITE.png" alt="webmarkets medical" width="500" height="87" /></a></p>
  </div>
</div>