/* Typography & Site Defaults */
:root {
  --theme-primary: #242E85;
  --theme-secondary: #00A0ED;
  --theme-tertiary: #3C53B2;
  --theme-dark: #111517;
  --theme-pink: #FF45D4;
  --theme-yellow: #D6FF00;

  /* Sections */
  --section-spacing: 120px;

  /* Fonts */
  --font-heading: 'Oswald', sans-serif;
  --font-subheading: 'Roboto', sans-serif;
  --font-alt: 'Work Sans', sans-serif;
  --font-body: 'Catamaran', sans-serif;

  --font-size-sm: clamp(12.8px, 0.05vw + 12.61px, 13.5px);
  --font-size-base: clamp(18px, 1.1vw + 13px, 20px);
  --font-size-md: clamp(21px, 0.971vw + 18.6375px, 24.85px);
  --font-size-lg: clamp(28px, 1.602vw + 10.25px, 41px);
  --font-size-xl: clamp(32px, 2.0313vw + 13px, 52px);
  --font-size-xxl: clamp(50px, 27.5px + 4.3vw, 110px);

  font-family: var(--font-body);
  font-size: var(--font-size-base);
  font-weight: 400;
}

/* Typography */

h1,
h2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0 0 0.5em;
}

h3 {
  font-family: var(--font-heading);
  font-size: var(--font-size-xl);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0 0 0.5em;
}

h4,
h5,
h6 {
  font-family: var(--font-subheading);
  font-weight: 600;
  font-size: var(--font-size-md);
  letter-spacing: 0;
  margin: 0 0 0.5em;
}

p,
ol,
ul {
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.56;
}

p a,
li a,
dd a {
  font-weight: bolder;
}

.bg-primary p a,
.bg-primary li a,
.bg-primary dd a {
  color: var(--theme-secondary);
}


[class^="heading"],
[class*="heading"] {
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 600;
  margin: 0 0 0.5em;
}

[class^="heading"].margin-top,
[class*="heading"].margin-top {
  margin-top: 0.75em;
}

.heading-primary {
  font-family: var(--font-heading);
  font-size: var(--font-size-xxl);
  color: var(--theme-primary);
  text-transform: uppercase;
}

.heading-primary>span,
h2>span,
h1>span {
  color: var(--theme-secondary);
}

.heading-secondary {
  font-family: var(--font-heading);
  font-size: var(--font-size-xl);
  color: var(--theme-primary);
  text-transform: uppercase;
}

.heading-tertiary {
  font-family: var(--font-subheading);
  font-size: var(--font-size-md);
  color: var(--theme-primary);
  font-weight: 800;
}

blockquote {
  font-size: var(--font-size-base);
  color: var(--theme-primary);
  font-style: normal;
  padding: 0;
  border: none;
}

blockquote cite {
  font-size: inherit;
  font-weight: 700;
  color: inherit;
  margin: 1em 0 0 2em;
}

/* Utility Classes */
.color-primary,
a.color-primary {
  color: var(--theme-primary) !important;
  fill: var(--theme-primary);
}

.font-size-sm {
  font-size: var(--font-size-sm);
}

.font-size-base {
  font-size: var(--font-size-base);
}

.font-size-md {
  font-size: var(--font-size-md);
}

.font-size-lg {
  font-size: var(--font-size-lg);
}

.font-size-xl {
  font-size: var(--font-size-xl);
}

.font-size-xxl {
  font-size: var(--font-size-xxl);
}

[class^="btn"] {
  line-height: 1.25rem;
  letter-spacing: 1.5px;
  font-size: 1.0625rem;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px 34px;
  margin: 3px;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 40px;
  transition: all .3s cubic-bezier(0.420, 0.000, 1.000, 1.000);
}

[class^="btn"]:hover {
  transition: all .3s cubic-bezier(0.420, 0.000, 1.000, 1.000);
}

.btn-primary {
  background-color: var(--theme-primary);
  color: white !important;
}

.btn-primary:hover {
  background-color: var(--theme-secondary);
}

.btn-secondary {
  background-color: var(--theme-secondary);
  color: white !important;
}

.btn-secondary:hover {
  background-color: var(--theme-primary);

}

/* Internal Page Styles */
.int-hero {
  padding-top: 240px;
  display: flex !important;
  align-items: center;
  min-height: 67vh;
  background-image: url("/Portals/0/ThemePluginPro/uploads/2023/1/18/Page-Title-bg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}