<div style="margin: 0 auto; max-width: 740px; min-width: 154px;">
  <div style="background-color: #fff; border: 2px solid #dadce0; border-radius: 10px; padding: 24px;">
    <div>
      <h1 style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 25px; font-weight: 500; line-height: 28px; margin: 0 0 25px;">Hello [UserName],</h1>
    </div>
    <h2 style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0 0 10px;">Thank you for contacting [BUSINESS NAME]. Your appointment request has been received and will be reviewed by a staff member as soon as possible.</h2>
    <p style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0 0 12px;">Powered by</p>
    <a title="Link to [BUSINESS WEBSITE]" href="https://centralpaving.com/" target="_blank"><img src="https://centralpaving.com/Portals/0/ThemePluginPro/uploads/2023/4/28/footer_logo.png" alt="[BUSINESS NAME] Logo" /></a>
    <p style="font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 30px; margin: 0 0 15px;">[Content]</p>
  </div>
</div>