@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter {
  transition: --num 2s ease-out;
  counter-set: num var(--num);
}

.counter::before {
  content: counter(num);
}

.count_to_100.counting {
  --num: 100;
}

.count_to_1000.counting {
  --num: 1000;
}